{% extends 'base.html.twig' %}

{% block title %}AutoGlass index{% endblock %}

{% block body %}
    <h1>AutoGlass index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Type</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auto_glass in auto_glasses %}
            <tr>
                <td>{{ auto_glass.id }}</td>
                <td>{{ auto_glass.description }}</td>
                <td>{{ auto_glass.type }}</td>
                <td>{{ auto_glass.number }}</td>
                <td>
                    <a href="{{ path('app_admin_auto_glass_show', {'id': auto_glass.id}) }}">show</a>
                    <a href="{{ path('app_admin_auto_glass_edit', {'id': auto_glass.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_auto_glass_new') }}">Create new</a>
{% endblock %}
