{% extends 'admin.html.twig' %}


{% block title %}Car Door index{% endblock %}
{% block app_title %}Car Door index{% endblock %}

{% block table %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car_door in car_doors %}
            <tr>
                <td>{{ car_door.id }}</td>
                <td>{{ car_door.model }}</td>
                <td>{{ car_door.color }}</td>
                <td>
                    <a class="btn btn-light" href="{{ path('app_admin_car_door_show', {'id': car_door.id}) }}">show</a>
                    <a class="btn btn-light" href="{{ path('app_admin_car_door_edit', {'id': car_door.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(car_doors) }}
    <a class="btn btn-primary mb-3" href="{{ path('app_admin_car_door_new') }}">Create new</a>
{% endblock %}
